.app-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* Use a subtle dark gradient for the background */
  background-image: linear-gradient(to bottom, #121212, #1f1f1f);
  color: #e0e0e0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.app-header {
  background-image: linear-gradient(to bottom, #222831, #393e46);
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
  /* Consider adding a filter to make the logo stand out against the dark background */
  filter: brightness(1.2);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.header-subtitle {
  font-size: 1rem;
  color: #e0e0e0;
  margin-top: 5px;
}

.app-main {
  padding: 20px; /* Adjust padding if needed */
  flex-grow: 1;
  max-width: 100%; /* Ensure content fits within the screen */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.app-footer {
  background-color: #1a1a1a; /* Darker footer */
  color: #ccc;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}